* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
  

}
#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.assets{
  display: none;
}
.controls {
  position: absolute;
  right: 5px;
  bottom: 6px;
  display: flex;
  /* flex-direction: column; */
}
.controls > button {
  width: 50px;
  height: 50px;
  background: transparent;
  color: azure;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid azure;
  margin: 5px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  transition: 0.3s;
}
.controls > button:hover,
.controls > button:active,
.controls > button:focus {
  background: #7bb59d;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}